<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Búsqueda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="buscarProducto-form2">
    <ion-card id="buscarProducto-checkbox1">
        <ion-card-header>
            <ion-card-title>Opciones de búsqueda:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <ion-radio-group [(ngModel)]="search.selected" [ngModelOptions]="{standalone: true}">        
        <ion-item>
          <ion-label>Nombre del producto</ion-label>
          <ion-radio value="byName"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Código de barras</ion-label>
          <ion-radio value="byBarcode"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Establecimiento comercial</ion-label>
          <ion-radio value="byLocation"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Criterio de búsqueda</ion-card-title>
        </ion-card-header>
        
    <ion-item id="buscarProducto-input7" *ngIf="search.selected === 'byName'">
      <ion-label position="floating">
        Ingrese el nombre del producto
      </ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="search.productName" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item *ngIf="search.selected == 'byBarcode'">
      <ion-button id="buscarProducto-button11" color="primary" block (click)="scanBarcode()">
        Escanear código de barras
      </ion-button>
    </ion-item>
    <ion-item *ngIf="search.selected == 'byBarcode' && search.barcode">
      <ion-label position="floating">
        Código de barras
      </ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="search.barcode" name="text" disabled></ion-input>
    </ion-item>
    <ion-item id="buscarProducto-select1" *ngIf="search.selected == 'byLocation'">
      <place-finder [position]="search.position"></place-finder>
    </ion-item>
  </ion-card>
  </form>

  <ion-grid style="margin-top:30vh">
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button id="search-product-button9" color="primary" (click)="goToSearchResults()">
          <ion-icon name="search"></ion-icon>
          Buscar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>