<ion-header>
  <ion-toolbar>
    <ion-title>
      Granny
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="home-container1">
        <h1 id="home-heading1" style="color:#000000;">
          Hola, Alejandro
        </h1>
        <button id="home-button5" ion-button color="positive" block on-click="goToAddProduct()">
          <ion-icon name="add"></ion-icon>
          Agregar
        </button>
        <button id="home-button3" ion-button color="positive" block on-click="goToSearchProduct()">
          <ion-icon name="search"></ion-icon>
          Buscar
        </button>
      </div>
  <img src="assets/img/VjDKDp5yR7qfjmr9xUju_23.jpeg" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  <img src="assets/img/FiIo35EcQgmG13yEdGZh_12.jpeg" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
</ion-content>
