<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Granny
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%;">
      <ion-col>
        <ion-row style="margin-top: -147px;">
          <ion-col class="custom-border-bottom">
            <div class="ion-text-center">
              <h1 id="home-heading1" style="color:#000000;">
                Hola, Alejandro
              </h1>
            </div>
          </ion-col>
        </ion-row>

        <ion-row center style="    margin-top: 40px;">
          <ion-col (click)="goToAddProduct()">
            <img src="assets/img/VjDKDp5yR7qfjmr9xUju_23.jpeg" class="central-img" />
          </ion-col>
          <ion-col (click)="goToSearchProduct()">
            <img src="assets/img/FiIo35EcQgmG13yEdGZh_12.jpeg" class="central-img" />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>